/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: -webkit-linear-gradient(top, #edecec, #cecbc9);
	  background-image: linear-gradient(top, #edecec, #cecbc9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 30px;
    text-align: center;
    color: #0a2745;
    margin-bottom: 30px;
}

.grid {
    position: relative;
    width: 560px;
    height: 300px;
    border-radius: 5px;
    background-color: #2b67e0;
    box-shadow: 0px 3px 15px 1px rgba(0, 0, 0,1);  
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color:#f2a724;
  border-radius: 3px;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: #550acf;
  border-radius: 3px;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #FFF;
}

#start{
  outline: none;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  background-color: #2b67e0;
  color: #FFF;
  font-weight: 500;
  font-size: 1rem;
  display: block;
  margin-top: 50px;
  box-shadow: 2px 3px 10px 1px rgba(0, 0, 0,1);  
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .grid{
      width: 560px ;
      height: 300px;
  }

}

@media screen and (max-device-width: 650px) {
  .grid{
      width: 400px ;
      height: 300px;
  }
  .block{
    width:70px;
  }

}

@media only screen and (max-device-width: 500px) {
  .grid{
      width: 300px ;
      height: 300px;
  }
}


  